#personal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: clamp(0.8rem, 1vw, 1rem);
}

#personal-form > .input-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-data > textarea#summary {
  height: 200px;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 1.1rem;
  font-family: 'IntelOneMono', sans-serif;
  resize: none;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.input-data > input {
  height: 50px;
  padding-left: 20px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 2px solid var(--input-border-color);
  font-family: 'IntelOneMono', sans-serif;
}

.input-data > label {
  font-size: 1.2rem;
}

.custom-file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f0e6f6;
  border: 2px solid #b58fc1;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.custom-file-label:hover {
  background-color: #e1cfe9;
}

.custom-file-wrapper input[type="file"] {
  display: none;
}