@font-face {
  font-family: 'Chewy';
  src: url('../assets/fonts/Chewy/Chewy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('../assets/fonts/Sansation/Sansation-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
