#personal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: clamp(.8rem, 1vw, 1rem);
}

#personal-form > .input-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-data > textarea#summary {
  height: 200px;
  padding: 12px 20px;
  border-radius: 4px;
}
